<section class="top">
    <div class="left__wrapper">
        <p>Life could be joy, when you share your fish of lifetime</p>
    </div>
  <article >
      <h1>Contact us at:</h1>
     <div  class="img__wrapper"> <a href="https://www.facebook.com/groups/2861971267356482" ><img src="assets/189169378_10221661787359712_5443228809372312002_n.jpg" alt=""></a></div>
    <ul class="list">
        <li>
            <p>Biggest catches</p>
        </li>
        <li>
            <p>16 Daskalov street</p>
        </li>
        <li>
            <p>Pazardzhik</p>
        </li>
        <li>
            <p>4400</p>
        </li>
        <li>
            <p>Bulgaria</p>
        </li>
        <li>
            <p>Email: kinjalat@abv.bg</p>
        </li>
        
    </ul>
  </article>
</section>

