<footer>
  
    <div class="description">
        <img src="assets/800px_COLOURBOX10756422.jpg" alt="">
        <p>Spinning is one of the most widespread and popular techniques around the world that can be done in both saltwater and freshwater.</p>
    </div>
    <nav><ul>
        <li><i class="fab fa-facebook"></i><a href="https://www.facebook.com/groups/262191725221158">Facebook</a>
        </li>
        <li><i class="fab fa-twitter"></i><a href="https://twitter.com">Twitter</a>
        </li>
        <li><i class="fab fa-instagram"></i><a href="https://instagram.com">Instagram</a>
        </li>
    </ul></nav>
    <ul>
    <li><i class="far fa-fish"></i><a routerLink="/about">About</a></li>
    <li><i class="far fa-fish"></i><a routerLink="/contacts">Contacts</a></li>
    
</ul>
</footer>